/config/generic/freedesktop/desktop_entries/launchers_autostart/retired
/config/generic/freedesktop/desktop_entries/src_icons

/config/generic/freedesktop/directories/Templates/quasi_active
/config/generic/freedesktop/directories/Templates/under_consideration

/config/generic/gtk
